@page "/anchor-navigation"
@using System.Globalization

<strong>Table of Contents</strong>
<ul>
    @for (int i = 0; i < 10; i++)
    {
        <li><NavLink></NavLink> <a href="@GetHref(i)">Header @i</a></li>
    }
</ul>

@for (int i = 0; i < 10; i++)
{
    <h1 id="@GetId(i)">Header @i</h1>
    <p>@LoremNET.Lorem.Paragraph(wordCount: 30, sentenceCount: 10)</p>
}

<AnchorNavigation />

@code{
    string GetId(int i) => "header-" + i.ToString(CultureInfo.InvariantCulture);
    string GetHref(int i) => "/anchor-navigation#" + GetId(i);
}